
.style {
    height: 4em;
    background-color: #202A44;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.spacer{
    height: 1em;
}

p{
    color : white;
}

h2{
    color: white;
}

.tab-in{
    margin-left: .5em;
    padding: 1em;
}

.sticky-node{
    position: fixed;
    top: 0;
    width: 100%;
}